<!DOCTYPE html>
{% extends "task/admin_panel.html" %}
{%load static%}
{%block title%}follows{%endblock%}
{%block content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <script src="{% static 'jquery-3.2.1.min.js' %}"></script>


<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	exportEnabled: true,
    "marginRight": 40,
    "marginLeft": 40,
    "autoMarginOffset": 20,
    "mouseWheelZoomEnabled":true,
	theme: "light2",
	title:{
		text: "memory Line Chart"
	},
		axisX: {
		title: "datetime",
		titleFontColor: "#FF0000",
	},
	axisY:{
	    title: "count-of-follows",
	    titleFontColor: "#FF0000",
	    lineColor: "#4F81BC",
	    tickColor: "#4F81BC",
		includeZero: false
	},
	data: [{
		type: "line",
		dataPoints:  [{y : 10}, {y : 13}, {y : 18}, {y : 20}, {y : 17}]
	},
	]

});

chart.render();

}
chart.addListener("rendered", zoomChart);

zoomChart();

function zoomChart() {
    chart.zoomToIndexes(chart.dataProvider.length - 40, chart.dataProvider.length - 1);
}
</script>
</head>

<div id="chartContainer" style="height: 300px; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</body>
</html>
{%endblock%}