<!DOCTYPE html>
{% extends "task/admin_panel.html" %}
{%load static%}
{%block title%}{%endblock%}
{%block content%}
{%for i in user_login %}
<div class="alert alert-info">Welcome {{i.username}}</div>
{%endfor%}
<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'jquery-3.2.1.min.js' %}"></script>

<style>
    fieldset {
    display: block;
    border-style: solid
    margin-left: 5px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.7em;
    padding-right: 0.75em;
    border: 2px groove (internal value);
}
</style>
</head>
<body>
<div id="some-div">
</div>
profil_pic:{{profile_pic_url}}
<h1>follower</h1>
{{follower_count1}}
<b>{{following_count}}aa</b>
<h1> welcom to instagram</h1>

        {%for data in user_login%}
         username:{{data.username}}
         follower:{{data.follower_count}}
         following:{{data.following_count}}
         {{data.profile_pic_url}}
         <img class="img-fluid" src={{data.profil_pic_url}} style="width:200px;height:200px;">
        {%endfor%}

</body>
</html>
{%endblock%}